.contact-page-content {
    margin-top: 20px;
    margin-left: 45px;
}

.form-email-text-submit {
    display: flex;
    flex-flow: column wrap;
    gap: 25px;
    margin-left: 450px;
    margin-top: 70px;
}

#email-id-box {
    padding: 8px;
    background-color: black;
    border: 1px solid grey;
    border-radius: 10px;
    width: 250px;
    color: #fff
}

#subject-text-input-box {
    padding: 8px;
    background-color: black;
    border: 1px solid grey;
    border-radius: 10px;
    width: 250px;
    color: #fff
}

#enter-text-here-input-box {
    padding: 8px;
    background-color: black;
    border: 1px solid grey;
    border-radius: 10px;
    width: 250px;
    resize: vertical;
    color: #fff
}

#confirm-submit-button {
    width: 75px;
    border: 1px solid tomato;
    border-radius: 10px;
    background-color: tomato;
    width: 200px;
    margin-left: 30px;
}