.contact-page-content {
    padding: 10px;
    margin-top: 20px;
    margin-left: 45px;
}

.form-email-text-submit{
    display: flex;
    flex-flow: column wrap;
    gap: 25px;
    margin-left: 450px;  
    margin-top: 100px;
}

#email-id-box{
    padding: 8px;
    background-color: black;
    border: 1px solid grey;
    border-radius: 10px;
    width: 250px;
}

#subject-text-input-box{
    padding: 8px;
    background-color: black;
    border: 1px solid grey;
    border-radius: 10px;
    width: 250px;
}

#enter-text-here-input-box{
    padding: 8px;
    background-color: black;
    border: 1px solid grey;
    border-radius: 10px;
    width: 250px;
    height: 200px;
}

#confirm-submit-button{
    width: 75px;
    border: 1px solid tomato;
    border-radius: 10px;
    background-color: tomato;
    width: 200px;
    margin-left: 30px;
}