.navigation-menu{
    color: #fff;
    display: flex;
    gap: 10px;
    padding: 15px;
    font-size: large;
    justify-content: flex-end;

}

.richmondCroft-logo{
    display: flex;
    justify-content: center;
    
}

.navigation-menu-right-side-contents{
    list-style-type: none;
    display: flex;
    gap: 15px;
}
.navigation-menu-right-side-contents :link{
    text-decoration: none;
}