.navigation-menu-components{
    color: white;
    display: flex;
    list-style-type: none;
    gap: 15px;
    font-size: larger;
    justify-content: flex-end;
    padding:  15px;
}
.navigation-menu-components:link{
    text-decoration: none;
    color: #fff;
}

.richmondCroft-logo-icon{
    padding: 12px;
    position: absolute;
    font-size: x-large;
}

.navigation-menu-tab-links{
    text-decoration: none;
    color: #fff;
    
}